@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.h1 {
  color: #002155;
}

.logo-info {
  display: flex;
  height: 120px;
  background-image: linear-gradient(135deg, #fefefe 50%, #ff5e14 50%);
}