// variables & functions
@import"sani/variables";

// base & layout
@import"sani/base";

// colors


// components ( button, card, navbar )
@import"sani/component";

// utilities ( margin, padding, opacity )



.logo-info{
    display: flex;
    height: 120px;
    background-image: linear-gradient(135deg, $color-white 50%, $secondry-color 50%);
}